@use '@/styles/variables';
@use '@/styles/animations';

.component__style {
  font-size: 1.2rem;
  color: variables.$brand-100;
  position: absolute;
  bottom: -2.4rem;
  left: 2.8rem;
  @include animations.fade(.4s);
}