@use '@/styles/animations';

.component__style {
  width: 37.5rem;
  height: 250px;
  margin-inline: auto;
  @include animations.fade(1.5s);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: 1080px) {
    width: 61rem;
    height: 80rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}
