@use '@/styles/variables';

.component__style {
  width: 100%;
  padding: 8rem 3.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  
  p:nth-child(1) {
    width: 30rem;
    margin-bottom: -1.6rem;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: .64rem;
    text-transform: uppercase;
    color: variables.$brand-200;
    opacity: 0;
    animation: fade .4s forwards 1s;
    
    b {
      font-weight: 600;
      color: variables.$brand-300;
    }
  }
  
  p:nth-child(2) {
    width: 30rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: variables.$brand-200;
    opacity: 0;
    animation: fade .4s forwards 1.5s;
  }

  @media (min-width: 1080px) {
    padding: 0;
    text-align: start;

    p {
      width: 37.5rem;
    }

    p:nth-child(1) {
      font-size: 6.4rem;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}