@use '@/styles/variables';

.component__style {
  width: 100%;
  min-height: 100vh;
  background: variables.$gradient-100;

  &>main {
    width: 100%;
    max-width: 50rem;
    height: 100vh;
    margin-inline: auto;
    position: relative;

    &>div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (min-width: 1080px) {
    &>main {
      max-width: 144rem;
      margin-inline: none;

      &>div {
        width: calc(100% - 61rem);
        padding-block: 8rem;
        gap: 6.4rem;
      }
    }
  }

  ::selection {
    background: variables.$brand-100;
    color: variables.$brand-300;
  }
}
